//font-text
$font-main: 'Inter', sans-serif;
$font-add: 'Forum', cursive;

//color
$color-main: #0C0C0E;
$color-text: #000000;
$color-burger:#000;
$color-light:#FFFFFF;
$color-element: #BB945F;
$color-placeholder:#8E8E8E;


//display-width
$content-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;

