.conteiner-login{
	position: absolute;
	display: none;
	left: 0;
	width: 100vh;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: rgba(51, 48, 48, 0.68);
	// background-color: darkorchid;
	z-index: 4;
	transition: all 0.3s ease;

	&.open {
		top: 0;
		display: flex;
	}
}

.login {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 250px;
	max-height: 382px;
	background-color: $color-light;
}

.login__button-close {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 18px;
	height: 18px;
	background-image: url('../img/header/close_btn_register-login.png');
}

.login-title {
	margin-top: 20px;
	text-align: center;
	font-family: Forum;
	font-size: 2rem;
	line-height: 100%;
	letter-spacing: 0.4px;
	text-transform: uppercase;
}

.login__conteiner-inputs {
	display: flex;
	flex-direction: column;
	margin: 20px 25px;
	gap: 10px;
}

.login__text {
	font-size: 1.5rem;
	line-height: 133.333%;
	letter-spacing: 0.3px;
}

.login__input {
	border: 1px solid #BB945F;
}

.login__button-size {
	margin-left: 25px;
	font-size: 1rem;
	width: 75px;
	height: 30px;
}

.login__login {
	display: flex;
	margin: 10px 0 20px 25px;
	gap: 10px;

	>p {
		text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
		font-size: 1rem;
		line-height: normal;
		letter-spacing: normal;
	}
}

.login__login-btn {
	font-size: 1rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration-line: underline;
}

.empty {
border-color: red;
}

.correct-field {
	border-color: green;
}