.footer {
	padding-top: 20px;
	padding-bottom: 44px;
	background-color: $color-main;
}

.footer__wrapper {}

.footer__columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 44px;
	border-bottom: 1px solid $color-light;
	padding-bottom: 30px;
}

.two-columns {}

.footer__contacts {
	display: flex;
	flex-direction: column;
	// gap: 10px;
}

.footer__contacts-addres {
	display: inline-flex;
	flex-shrink: 0;
	max-width: 229px;
	color: #FFF;
	@include font($size: 1.5rem, $height: 2rem, $spacing: normal);
	margin-bottom: 10px;
}

.footer__nav {
	display: inline-flex;
	gap: 15px;
	align-items: center;
	a {
		// display: inline-flex;
	}
}

// .footer__contacts-link:hover svg {
// 	transform: scale(1.5);
// }
// .footer__contacts-link:hover path {
// 	fill: red;
// }

.footer__icon-object {
	width: 24px;
	height: 24px;
	align-self: center;
}

.footer__time-work {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.time-work {
	color: #FFF;
	@include font($size: 1.5rem, $height: 2rem, $spacing: normal);
	text-align: right;
}

.footer__line {
	border-color: $color-light;
}

.footer__end {
	display: flex;
	justify-content: space-between;
	margin-top: 44px;
	color: $color-light;
	@include font($size: 2rem);
}

.rss-link {
	color: $color-light;
	@include font($size: 2rem);
	margin-left: 25px;
}

.user-git {
	display: flex;
	color: $color-light;
	@include font($size: 2rem);
}
a {
	@extend %transition;

	&:hover {
		color: $color-element;
	}

}

.icon {
	align-self: center;
}

.icon-object--twit {
	width: 24px;
	height: 24px;
}

.icon-object--insta {
	width: 20px;
	height: 20px;
}

.icon--face-object {
	width: 20px;
	height: 20px;
}