.header {
	background-color: $color-main;
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.header__navigation {
	margin-left: 454px;
}

.menu {
	line-height: 0;
	margin-left: 40px;
}

.menu__img {}