.header {
	background-color: $color-main;
	position: relative;
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.header__logo-line {
	display: flex;
	align-items: center;
	line-height: 0;
	margin-left: 40px;

	@include media-laptop {
		display: flex;
		margin-left: auto;
		gap: 40px;
	}
}

.menu {
	position: relative;
	z-index: 4;
	// cursor: pointer;
	// text-decoration: none;
	// @extend %transition;

	// &:hover {
	// 	color: $color-element;
	// }
}

.active-profile-btn {
	background-color: $color-light;
	color: $color-element;
	border-radius: 50%;
	width: 28px;
	height: 28px;
}

.menu__img {}