.icon {
	pointer-events: none;
}

a:hover .icon {
	transform: scale(1.9);
	@extend %transition;
}

.twit-svg:hover {
	.twit-path {
		fill: $color-element;
	}
}

//работает увелечение и смена цвета но не увеличиваеться контейнер

//icon-path,
// .insta-path,
// .twit-path,
// .face-path {
// 	@extend %transition;
// }

//.icon-svg:hover,
// .face-svg:hover,
// .twit-svg:hover,
// .insta-svg:hover {

// .icon-path,
// 	.insta-path,
// 	.twit-path,
// 	.face-path {
// 		fill: $color-element;
// 		// transform: scale(1.9)
// 	}
// }