@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

html {
	scroll-behavior: smooth;
	font-size: 10px;
}

//delete width and margin
body {
	@extend %font-prim;
	@include font($size: 1.6rem, $height: 4rem);
	// max-width: 1440px;
	margin: 0 auto;
}

h1 {
	color: $color-light;
	@extend %font-add;
	@include font ($size: 3rem, $height: 5rem, $spacing: 0.6px);
}

//section
h2 {
	text-transform: capitalize;
	color: $color-main;
	font-family: $font-add;
	@include font($size: 4rem);
	text-align: center;
}

//section cards
h3 {
	color: $color-text;
	font-family: $font-add;
	@include font($size: 3rem, $height: 5rem, $spacing: 0.6px);
}

//rss
h4 {
	color: $color-light;
	font-family: $font-main;
	@include font ($size: 2rem);
}

//staf books
h5 {
	color: $color-text;
	font-family: $font-add;
	@include font ($size: 2rem, $height: 4rem);
	text-transform: capitalize;
}

//name book
h6 {
	color: $color-text;
	font-family: $font-main;
	@include font ($size: 1.5rem, $height: 4rem, $weight: 700);
	text-transform: uppercase;
	text-transform: capitalize;
}

.line {
	width: 50px;
	flex-shrink: 0;
	margin: 20px auto 0;
	// border: 1px solid $color-main;
	height: 1px;
	background: $color-main;
	border: 0;
	font-family: Forum;
}

.none {
	display: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	@extend %transition;

	&:hover {
		color: $color-element;
	}

}

button {
	margin: 0; /* Убирает внешние отступы */
	padding: 0; /* Убирает внутренние отступы */
	border: none; /* Убирает границы */
	background: none; /* Убирает фон */
	outline: none; /* Убирает обводку при фокусе (когда кнопка получает фокус)
	 */
	//  display: block;
 }

 label {
	cursor: pointer;
	}