.button {
	background-color: $color-light;
	text-align: center;
	color: $color-main;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1px;
	border-radius: 2px;
	border: 1px solid $color-main;
	cursor: pointer;
	transition: all .3s;

	&_colored {

		&:active,
		&:hover {
			background-color: $color-element;
			border: 1px solid $color-element;
		}
	}

	&_disabled {
		color: #BB945F;
		border: 1px solid $color-element;
		cursor: none;
	}
}