.about {
	padding-top: 20px;
	padding-bottom: 20px;
}

.about__title {
	text-align: center;
}

.about__text {
	color: $color-text;
	line-height: 40px;
	letter-spacing: normal;
	text-align: center;
	margin-top: 40px;
}

.about__conteiner {
	position: relative;
}

.prew,
.next {
	display: none;
	position: absolute;
	cursor: pointer;
	@include media-tablet {
		display: block;
	}
}

.prew {
	top: 46%;
	left: 57px;
}
.next {
	bottom: 50%;
	right: 57px;
}

.about__slayder {
	display: flex;
	gap: 25px;
	margin-top: 20px;
	.link {
		@include media-tablet {
			display: none;
		}
	}
	.active {
		margin: 0 auto;
		text-align: center;
	}
}

.about__link {}


.about__img {
	max-width: 100%;
	height: auto;
}

.about__slayder-buttons {
	text-align: center;
	margin-top: 35px;
	font-size: 0;

	@include media-tablet {
		margin-top: 20px;
	}

	.none {
		@include media-tablet {
			display: inline-block;
		}
	}
}

//возможно нужно будет удалить тут и в html личшнию обертку
.about__slayder-btn {

}


//active base
.about__button {
	background-color: $color-main;
}

.about__button_active {
	background-color: $color-element;
}

.about-btn {
	border: 5px solid white;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .3s;

	&:active,
	&:hover {
		background-color: $color-element;
	}
}