.about {
	padding-top: 20px;
	padding-bottom: 20px;
}

.about__title {
	text-align: center;
}

.about__text {
	color: $color-text;
	line-height: 40px;
	letter-spacing: normal;
	text-align: center;
	margin-top: 40px;
}

.about__slayder {
	display: flex;
	gap: 25px;
	margin-top: 20px;
}

.about__link {}


.about__img {}

.about__slayder-buttons {
	text-align: center;
	margin-top: 40px;
	font-size: 0;
}

//возможно нужно будет удалить тут и в html личшнию обертку
.about__slayder-btn {

}


//active base
.about__button {
	background-color: $color-main;
}

.active__button {
	background-color: $color-element;
}

.about-btn {
	border: 5px solid white;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .3s;

	&:active,
	&:hover {
		background-color: $color-element;
	}
}